/*================
    Contact Section
=================*/
.contact {
  background-color: var(--bkg-color);
  color: var(--text-color);
  position: relative;
  line-height: 1.6;
}

.email-form {
  padding: 6em 0;
}

.email-form .submit-btn {
  padding: 2em 0;
}

.have-a-question {
  padding: 0 0 3em 0;
}

.email-form .submit-btn button {
  background-color: var(--blue-shade);
  margin: 1em 0;
}

.contact p,
.contact h2,
.contact h3 {
  text-align: center;
}

.contact form {
  width: 70%;
  margin: auto;
}

input[type="text"],
textarea {
  background-color: var(--bkg-color);
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  color: var(--text-color);
  display: inline-block;
  width: 100%;
  padding: 1.5em 2em;
  margin: 1em 0;
}

.submit-btn {
  max-width: 100%;
  margin: auto;
  text-align: center;
}

.submit-btn button {
  background-color: var(--bkg-color);
  border: none;
  border: 1px solid var(--blue-shade);
  border-radius: 5px;
  color: var(--text-color);
  cursor: pointer;
  width: 25%;
  max-width: 250px;
  height: auto;
  padding: 1em 2em;
  text-transform: uppercase;
  text-align: center;
}

.submit-btn button:hover {
  background-color: var(--blue-shade);
  border-color: var(--blue-shade);
  color: var(--text-color);
  transition: all 0.5s linear;
}

.loading,
.portfolio-loading {
  display: none;
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

/*==============
  Snackbar 
===============*/
#snackbar {
  border-radius: 5px;
  visibility: hidden;
  min-width: 250px;
  width: auto;
  padding: 1em;
  z-index: 1;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.success {
  background-color: #d4edda;
  color: #347042;
}

.error {
  background-color: #f8d7da;
  color: #91474f;
}

@media only screen and (max-width: 560px) {
  .submit-btn button {
    width: 100%;
    max-width: 100%;
    height: auto;
    -webkit-padding-start: 2rem;
    -moz-padding: 2rem;
    -ms-padding: 2rem;
    padding: 2rem;
  }
}
