/*=================
  Footer 
==================*/
footer {
  background-color: var(--footer-bkg-color);
  color: #f8f8f8;
  flex-direction: column;
  font-size: 0.8em;
  width: 100%;
  height: auto;
  text-align: center;
}

footer .content {
  flex-direction: column;
  position: relative;
  padding: 1.5rem;
}

.footer-content {
  display: grid;
  grid-template-areas: "footer-social-links footer-nav-links footer-nav-links privacy privacy";
  gap: 1em;
  width: 100%;
}

.footer-social-links {
  grid-area: footer-social-links;
}

.footer-nav-links,
.privacy {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-nav-links {
  grid-area: footer-nav-links;
}

.privacy {
  grid-area: privacy;
}

footer p {
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.copyright-author {
  color: #1ea2f1;
}

footer .fa-heart {
  color: var(--main-red);
}

footer a {
  color: var(--text-color);
  font-size: 1.2rem;
  margin: 0.5em 0;
  padding: 0.5em;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-social-links a {
  align-items: center;
  background-color: var(--footer-bkg-color);
  border: 1px solid var(--blue-shade);
  border-radius: 3px;
  display: flex;
  flex-basis: 18em;
  margin: 0.5em auto;
  justify-content: center;
}

footer a i {
  flex-basis: auto;
}

footer .fab {
  font-size: 20px;
  padding-right: 0.5em;
}

.twitter i {
  color: #1ea2f1;
}

.linkedin i {
  color: #0c65c2;
}

.facebook i {
  color: #0e92f3;
}

.github:hover,
.codepen:hover {
  background-color: black;
  color: var(--white);
}

.linkedin:hover {
  background-color: #0c65c2;
  color: var(--white);
}

.twitter:hover {
  background-color: #1ea2f1;
  color: var(--white);
}

.facebook:hover {
  background-color: #0e92f3;
  color: var(--white);
}

footer a:hover i {
  color: var(--white);
}

.back-to-top {
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--red);
  display: none;
  font-size: 40px;
  position: fixed;
  right: 0.5em;
  bottom: 3%;
  transition: all 0.5s ease;
}

.back-to-top:hover {
  color: var(--blue-shade);
}

@media (max-width: 26.25em) {
  .footer-content {
    grid-template-areas:
      "footer-social-links footer-social-links"
      "footer-nav-links footer-nav-links"
      "privacy privacy";
  }
  .footer-social-links {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-nav-links,
  .privacy {
    flex-direction: row;
  }
}
