/*======================
    Portfolio Section 
=======================*/
.portfolio-description p {
  padding: 2em 0;
}

.filter-btn-container {
  text-align: center;
  padding: 3em 0;
}

.filter {
  background-color: var(--bkg-color);
  border: 1px solid var(--light-gray);
  color: var(--text-color);
  cursor: pointer;
  flex-basis: 13%;
  padding: 0.5em;
  margin: auto;
}

.filter {
  border-radius: 5px;
}

.filter.active {
  background-color: var(--blue-shade);
  border: 1px solid var(--blue-shade);
  color: var(--text-color);
}

.filter:hover {
  background-color: var(--blue-shade);
  transition: all 0.5s ease-in-out;
}

#portfolio .projects-container {
  align-items: stretch;
  padding: 2em 0;
}

.card {
  background-color: var(--bkg-color);
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-basis: 26%;
  margin: 1.5em;
}

.card:hover {
  background-color: var(--black-shade-500);
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  transition: all 0.3s linear;
}

.card-body {
  line-height: 1.5;
  padding: 0.5em;
}

.card-body h3 {
  padding: 0.3rem 0;
}

#portfolio .card-links {
  display: flex;
  flex-wrap: wrap;
  margin: 1em auto 0 auto;
  width: 100%;
  height: auto;
  justify-content: space-between;
}

.card-links a:first-child {
  padding: 0;
}

.card-links a {
  border: 1px solid var(--blue-shade);
  border-radius: 5px;
  color: var(--text-color);
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;
  text-align: center;
}

.card-links .fab {
  font-size: 2.5em;
}

.card-links a:hover {
  background-color: var(--blue-shade);
  border: 1px solid var(--blue-shade);
  color: var(--text-color);
  transition: all 0.3s linear;
}

@media only screen and (max-width: 62.5em) {
  .card {
    flex: 30%;
  }
}

@media only screen and (max-width: 43.75em) {
  .card {
    flex: 46%;
  }
}
