/************
    Variables 
*************/
:root {
  --black: black;
  --black-shade-100: #3d4350;
  --box-shadow-black-400: rgba(0, 0, 0, 0.16);
  --box-shadow-black-500: rgba(0, 0, 0, 0.23);
  --blue-shade: dodgerblue;
  --back-to-top-color: dodgerblue;
  --light-gray: #dadce0;
  --black-shade-200: #1e242c;
  --black-shade-500: #252525;
  --greetin-msg-color: rgb(255, 255, 0);
  --gray: gray;
  --light-black: #454545;
  --lightblue: lightblue;
  --light-gray: #ddd;
  --red: red;
  --white-shade: #fff;
  --white-shade-lighter: #f8f8f8;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&display=swap");

/*===========
    Global Styles
=============*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html > body {
  font-size: 1em;
}

body {
  border: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 100%;
  letter-spacing: 0.7px;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 100%;
}

.content {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

header .content,
header nav ul,
.home,
.home section,
.flex-container,
.about-details,
.filter-btn-container,
.portfolio-card-container,
.card-links,
footer,
footer .content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-title {
  border-bottom: 4px solid var(--light-black);
  padding-bottom: 0.5em;
  margin: auto;
}

.about,
.portfolio,
.contact {
  padding: 4em 0;
}

.content h2 {
  text-align: center;
}

.humburger {
  display: none;
}

main a {
  color: var(--light-black);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1.6;
}

h2 {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1em;
}

/*============
    Header 
=============*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 60px;
  height: 60px;
  z-index: 3;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sticky {
  background-color: var(--white-shade);
  box-shadow: 0 2px 5px 0 var(--box-shadow-black-400),
    0 2px 5px 0 var(--box-shadow-black-500);
  -webkit-box-shadow: 0 2px 5px 0 var(--box-shadow-black-400),
    0 2px 5px 0 var(--box-shadow-black-500);
}

header .content {
  min-height: 100%;
  height: 100%;
}

.sticky a {
  color: var(--light-black);
}

header a {
  color: var(--white-shade);
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  flex: 1;
  text-align: left;
}

.logo img {
  width: 4em;
  height: auto;
  max-height: 60px;
  height: 100%;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.desktop ul li {
  padding: 1em 1em;
}

header .active {
  color: var(--blue-shade);
  border-bottom: 4px solid var(--blue-shade);
  padding-bottom: 1.03125em;
}

.mobile {
  background-color: var(--white-shade-lighter);
  border-top: 2px solid var(--blue-shade);
  position: fixed;
  left: 0;
  top: 60px;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-left: -100%;
  opacity: 1;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mobile ul {
  display: block;
  padding: 0.5em 0.2em 0;
  width: 100%;
  margin: auto;
}

.mobile ul li {
  padding: 1em 1em;
}

.mobile a {
  color: var(--light-black);
}

.humburger {
  color: var(--white-shade);
  cursor: pointer;
  font-size: 25px;
}

nav a:hover {
  color: var(--blue-shade);
  transition: all 0.5s linear;
}

.fa-times {
  color: rgb(213, 120, 120);
}

@media only screen and (max-width: 800px) {
  .humburger {
    display: block;
  }

  .desktop {
    display: none;
    transition: all 0.5s linear;
  }
}

/*============
    Home Section 
==============*/
.home {
  background-color: rgba(86, 118, 133, 0.579);
  background-image: url("../images/about-bg-img.JPG");
  background-position: center;
  background-attachment: fixed;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  color: var(--white-shade);
  text-align: center;
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.home .content {
  flex: 100%;
  padding: 0.5em 0.5em;
}

.content .greeting-message {
  color: var(--greetin-msg-color);
  margin-top: 0;
}

.home p {
  margin-bottom: 1em;
}

.home a {
  border: 1px solid var(--blue-shade);
  border-radius: 5px;
  color: var(--white-shade);
  display: block;
  margin: auto;
  max-width: 300px;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: 0.5s;
}

.home a:hover {
  background-color: var(--blue-shade);
  color: var(--white-shade);
  transition: 0.5s;
}

@media only screen and (max-width: 600px) {
  .home {
    background-attachment: scroll;
  }
}

/*======================
    About Section 
=======================*/
.about {
  background-color: var(--light-gray);
}

.flex-container {
  padding: 4em 0 1em 0;
  max-width: 100%;
  margin: auto;
}

.flex-item {
  flex: 20%;
  text-align: center;
}

.about img {
  width: 25%;
  height: 25%;
  margin: auto;
}

.about .section-title {
  max-width: 180px;
}

.about p:first-child {
  padding-top: 1em;
}

.about-details {
  background-color: var(--lightblue);
  margin-top: 3em;
  padding: 3em 1em 3em 1em;
}

.about-img {
  flex: 30%;
  margin: auto;
}

.about-img img {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  width: 100%;
  height: auto;
}

.about-paragraph {
  align-self: flex-start;
  flex: 70%;
  padding-left: 0.5em;
}

@media only screen and (max-width: 900px) {
  .flex-item {
    flex: 40%;
    padding: 1.5em 0;
  }

  .about-details {
    flex-direction: column;
  }

  .about-img {
    max-width: 300px;
    height: auto;
  }

  .about-paragraph {
    align-self: center;
  }
}

@media only screen and (max-width: 500px) {
  .flex-item {
    flex: 90%;
  }
}

/*======================
    Portfolio Section 
=======================*/
.portfolio {
  background-color: var(--white-shade);
  color: var(--light-black);
}

.portfolio .section-title {
  max-width: 130px;
}

.portfolio-description p {
  padding: 4em 0 3em 0;
}

.portfolio-description {
  padding: 0 0.5em;
}

.filter-btn-container {
  text-align: center;
  padding: 3em 0;
}

.filter {
  background-color: var(--light-gray);
  border: 1px solid var(--light-gray);
  cursor: pointer;
  flex: 10%;
  padding: 0.5em;
  margin: 0.5em 0.5em;
}

.filter,
.filter.active {
  border-radius: 5px;
}

.filter.active {
  background-color: var(--blue-shade);
  border: 1px solid var(--blue-shade);
  color: var(--white-shade);
}

.filter:hover {
  background-color: var(--blue-shade);
  color: var(--white-shade);
  transition: all 0.5s ease-in-out;
}

.portfolio-card-container {
  align-items: unset;
  padding-top: 1em;
}

.card {
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  background-color: var(--white-shade);
  flex-basis: 30%;
  width: 30%;
  height: auto;
  margin: 0.7em;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
  transform: scale(1.1);
  transition: all 0.3s linear;
}

.card-body {
  line-height: 1.3;
  padding: 0.5em;
}

.card h3,
.card p {
  margin: 0;
}

.card-links {
  width: 100%;
  justify-content: space-around;
  padding-top: 0.5em;
}

.card-links a:first-child {
  border: none;
  padding: 0;
}

.card-links a {
  border: 1px solid var(--blue-shade);
  border-radius: 5px;
  padding: 0.5em;
  text-decoration: none;
  text-align: center;
}

.card-links .fab {
  color: var(--black);
  font-size: 40px;
}

.card-links a:hover {
  transition: all 0.3s linear;
}

.card-links a:nth-child(2):hover {
  background-color: var(--blue-shade);
  color: var(--white-shade);
}

@media only screen and (max-width: 1000px) {
  .card {
    flex: 40%;
  }
}

@media only screen and (max-width: 700px) {
  .card {
    flex: 50%;
  }
}

/*================
    Contact Section
=================*/
.contact {
  background-color: var(--black-shade-100);
  color: var(--white-shade);
  position: relative;
  padding-top: 175px;
  line-height: 1.6;
}

.contact svg {
  position: absolute;
  top: 0;
  left: 0;
}

.contact h2 {
  border-bottom: 3px solid var(--white-shade);
  width: 125px;
  margin: auto;
  padding-bottom: 0.5em;
}

.email-form {
  padding: 4em 0;
}

.email-form .submit-btn {
  padding: 2em 0;
}

.email-form .submit-btn input {
  margin: 1em 0;
}

.contact p,
.contact h2,
.contact h3 {
  text-align: center;
}

.contact form {
  width: 70%;
  margin: auto;
}

input[type="text"],
textarea {
  background-color: var(--black-shade-200);
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  color: var(--white-shade);
  display: inline-block;
  width: 100%;
  padding: 1.5em 2em;
  margin: 1em 0;
}

.submit-btn {
  max-width: 100%;
  margin: auto;
  text-align: center;
}

input[type="submit"] {
  background-color: var(--black-shade-200);
  border: none;
  border: 1px solid var(--black-shade-200);
  border-radius: 5px;
  color: var(--white-shade);
  cursor: pointer;
  width: 25%;
  max-width: 250px;
  height: auto;
  padding: 1em 2em;
  text-transform: uppercase;
  text-align: center;
}

input[type="submit"]:hover {
  background-color: var(--blue-shade);
  border-color: var(--blue-shade);
  color: var(--white-shade);
}

@media only screen and (max-width: 560px) {
  input[type="submit"] {
    width: 100%;
    max-width: 100%;
    height: auto;
    -webkit-padding-start: 2em;
    -moz-padding: 2em;
    -ms-padding: 2em;
    padding: 2em;
  }
}

.loading,
.portfolio-loading {
  display: none;
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

/*=================
  Footer 
==================*/
footer {
  background-color: var(--black-shade-500);
  color: var(--gray);
  flex-direction: column;
  font-size: 0.8em;
  width: 100%;
  height: 350px;
  position: relative;
  text-align: center;
}

footer p {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 1em 0;
}

.copyright-author {
  color: var(--blue-shade);
}

footer .fa-heart {
  color: var(--red);
}

footer .content {
  justify-content: space-around;
}

footer a {
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--gray);
  font-size: 0.8em;
  padding: 0.5em;
  justify-content: space-around;
  margin: 0.5em 0;
  text-decoration: none;
  text-transform: uppercase;
}

footer a i {
  flex: 10%;
}

footer .fab {
  font-size: 20px;
  padding-right: 0.5em;
}

.twitter i {
  color: #1ea2f1;
}

.linkedin i {
  color: #0c65c2;
}

.facebook i {
  color: #0e92f3;
}

.github:hover {
  background-color: black;
  color: var(--white-shade);
}

.linkedin:hover {
  background-color: #0c65c2;
  color: var(--white-shade);
}

.twitter:hover {
  background-color: #1ea2f1;
  color: var(--white-shade);
}

.facebook:hover {
  background-color: #0e92f3;
  color: var(--white-shade);
}

footer a:hover i {
  color: var(--white-shade);
}

.back-to-top {
  cursor: pointer;
  color: var(--back-to-top-color);
  display: none;
  font-size: 50px;
  position: fixed;
  right: 0.5em;
  bottom: 8%;
  transition: all 0.5s ease;
}

.back-to-top:hover {
  color: var(--blue-shade);
}

/*===============
  @keyframes
===============*/
@keyframes slideup {
  0% {
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
