/************
    Google Fonts 
*************/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&display=swap");

/************
    Variables 
*************/
body {
  --black: #222;
  --black-shade-100: #3d4350;
  --black-shade-200: #1e242c;
  --black-shade-500: #252525;
  --blue-shade: dodgerblue;
  --box-shadow-black-400: rgba(0, 0, 0, 0.16);
  --box-shadow-black-500: rgba(0, 0, 0, 0.23);
  --footer-bkg-color: #282a35;
  --gray: gray;
  --light-gray: #dadce0;
  --navbar-bkg-color: #fff;
  --nav-active-link-bgk-color: #ddd;
  --navbar-text-color: #222;
  --red: red;
  --white: #f8f8f8;
}

body.dark-theme {
  --text-color: #f8f8f8;
  --bkg-color: #3e4444;
}

@media (prefers-color-scheme: dark) {
  body {
    --bkg-color: #3e4444;
    --text-color: #f8f8f8;
  }

  body.light-theme {
    --bkg-color: #f8f8f8;
    --text-color: #3e4444;
  }
}

/* Base Reset */
* {
  margin: 0;
  padding: 0;
}

/* Box Sizing & Font Sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */

  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 55%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 50%;
  }
}

/*===========
    Base Styles
=============*/
body {
  background-color: var(--bkg-color);
  border: 0;
  color: var(--text-color);
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.4px;
}

main {
  width: 100%;
  height: 100%;
}

.content {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

header .content,
header nav,
.home,
.home section,
.flex-container,
.about-details,
.filter-btn-container,
.projects-container,
footer .content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-title {
  border-bottom: 4px solid var(--blue-shade);
  padding-bottom: 0.5em;
  max-width: 20rem;
  margin: 0 auto 2em auto;
}

.about,
.portfolio,
.contact {
  padding-top: 10em;
  padding-bottom: 4em;
}

.content h2 {
  text-align: center;
}

main a {
  color: var(--text-color);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 1.6;
}

h2 {
  font-size: 4.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.5rem;
}

/*=================
  Footer 
==================*/
footer {
  background-color: var(--footer-bkg-color);
  color: var(--light-gray);
  flex-direction: column;
  font-size: 0.8em;
  width: 100%;
  height: 350px;
  position: relative;
  text-align: center;
}

footer .content {
  flex-direction: column;
  padding: 1.5rem;
}

.footer-content {
  display: grid;
  grid-template-areas: "footer-social-links footer-nav-links footer-nav-links privacy privacy";
  gap: 1.5rem;
  width: 100%;
}

.footer-social-links {
  grid-area: footer-social-links;
}

.footer-nav-links {
  grid-area: footer-nav-links;
}

.privacy {
  grid-area: privacy;
}

footer p {
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.copyright-author {
  color: #1ea2f1;
}

footer .fa-heart {
  color: var(--main-red);
}

footer a {
  color: var(--text-color);
  font-size: 1.2rem;
  margin: 0.5em 0;
  padding: 0.5em;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-social-links a {
  align-items: center;
  background-color: var(--footer-bkg-color);
  border: 1px solid var(--blue-shade);
  border-radius: 3px;
  display: flex;
  justify-content: center;
}

footer a i {
  flex-basis: auto;
}

footer .fab {
  font-size: 20px;
  padding-right: 0.5em;
}

.twitter i {
  color: #1ea2f1;
}

.linkedin i {
  color: #0c65c2;
}

.facebook i {
  color: #0e92f3;
}

.github:hover,
.codepen:hover {
  background-color: black;
  color: var(--white);
}

.linkedin:hover {
  background-color: #0c65c2;
  color: var(--white);
}

.twitter:hover {
  background-color: #1ea2f1;
  color: var(--white);
}

.facebook:hover {
  background-color: #0e92f3;
  color: var(--white);
}

footer a:hover i {
  color: var(--white);
}

.back-to-top {
  cursor: pointer;
  color: var(--red);
  display: none;
  font-size: 50px;
  position: fixed;
  right: 0.5em;
  bottom: 8%;
  transition: all 0.5s ease;
}

.back-to-top:hover {
  color: var(--blue-shade);
}

/*==============
  Snackbar 
===============*/
#snackbar {
  background-color: var(--white);
  border-radius: 5px;
  visibility: hidden;
  min-width: 250px;
  padding: 0.5rem;
  z-index: 1;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/*===============
@keyframes
===============*/
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes slideup {
  0% {
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
